.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 43px 250px;
  max-width: 1920px;
  height: 110px;
  background-color: #3b3c3d;
  color: #fff;
}
.header_container > h1 {
  font-size: 20px;
  font-weight: 900;
}
