.header_container {
  width: 100vw;
  background-color: #3b3c3d;
}
.header_content {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 110px;
  padding: 43px 250px;
  max-width: 1670px;
}
.header_container > h1 {
  font-size: 20px;
  font-weight: 900;
}
