.navbar_container {
  display: flex;
  gap: 64px;
}

.li_style {
  list-style-type: none;
}

.link {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
}

.active {
  color: rgba(255, 255, 255, 1);
}
